#get{
    font-size: 20px;
    background-color:coral;
    border-radius: 8px;
}



.custom{
    /* px, vw, rem */
    color: white;
    background-color: green;
    border-radius: 8px;
    width: 65px;
    text-align:center;
    cursor:zoom-in;
}